<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- <script src="/public/assets/js/script.js"></script> --}}
</head>
<body>
    {{{ body }}}
</body>
<script>
$(function() {
    $(".change-devoured").on("click", function(event) {
      var id = $(this).data("id");
      var newDevoured = $(this).data("newdevoured");
  
      var newDevouredState = {
        devoured: newDevoured
      };
  
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: newDevouredState
      }).then(
        function() {
          console.log("changed sleep to", newDevoured);
          location.reload();
        }
      );
    });
  
    $(".create-form").on("submit", function(event) {
      event.preventDefault();
  
      var newBuns = {
        burger_name: $("#ca").val().trim(),
      };
        console.log(newBuns)
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBuns
      }).then(
        function() {
          console.log("created new burger!");
          location.reload();
        }
      );
    });

  });


</script>
</html>